<a href="https://colab.research.google.com/gist/singhsidhukuldeep/f5e3db87f2b3571c614ac9606412dcf8/beginner-list-2d-20-october-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : List: 2D - 20 October 2023

<img src="https://hackernoon.com/hn-images/1*nPHAOq1pIhC-8VVXJq2Pdw.jpeg" width="35%">

In [1]:
# recap
## primitive DS
### str, int, float, bool, None

In [ ]:
# non-primitive DS
## list
### []
### is mutable/editable
### Can hold duplicates
### maintains order
### can hold absolutely any data type, even another list

## Question 1

Rotate a list by 1 element.

```[1, 2, 3, 4, 5]``` -> last element is removed and added to the start.

```[5, 1, 2, 3, 4]```

In [4]:
a = [1, 2, 3, 4, 5]

# using slicing
print("last part", a[0:-1])
print("first part", a[-1:])
print(a[-1:]+a[0:-1])

last part [1, 2, 3, 4]
first part [5]
[5, 1, 2, 3, 4]

In [6]:
a = [1, 2, 3, 4, 5]

# using pop
last_ele = a.pop(-1)
print("last ele", last_ele)
a.insert(0, last_ele)
print(a)

last ele 5
[5, 1, 2, 3, 4]

## **Question-2**
Write a program to reverse a list.

`[1, 2, 3, 4, 5]` > `[5, 4, 3, 2, 1]`

In [8]:
a = [1, 2, 3, 4, 5]
print(a)
# using slicing
print(a[::-1])
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [9]:
a = [1, 2, 3, 4, 5]
print(a)
a.reverse() # this will reverse the original list
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [11]:
a = [1, 2, 3, 4, 5]
print(a)
# using reversed
print(list(reversed(a)))
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [12]:
# sort
a = [1, -10, 2, 3, -100, 4, 5]
print(a)
a.sort() # this will sort the original list
print(a)

[1, -10, 2, 3, -100, 4, 5]
[-100, -10, 1, 2, 3, 4, 5]

In [14]:
# sorted
a = [1, -10, 2, 3, -100, 4, 5]
print(a)
# using sorted
print(list(sorted(a)))
print(a)

[1, -10, 2, 3, -100, 4, 5]
[-100, -10, 1, 2, 3, 4, 5]
[1, -10, 2, 3, -100, 4, 5]

In [16]:
coins = [1,5,2,3,5,4,5,6,7,5]
print(coins)
# index >> index of the first occurence
print(coins.index(5))
# count >>count the number of occurences
print(coins.count(5))

[1, 5, 2, 3, 5, 4, 5, 6, 7, 5]
1
4

In [17]:
# 2d lists

In [22]:
player = ['Ronaldo', 38, 185.5, True, None]
print(player)

print("# the of elements in my list: ", len(player))

print("Iterating")
for p in player:
    print(p)

['Ronaldo', 38, 185.5, True, None]
# the of elements in my list:  5
Iterating
Ronaldo
38
185.5
True
None

In [25]:
grocceryList = [3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
print(grocceryList)

print("# the of elements in my list: ", len(grocceryList))

print("Iterating")
for g in grocceryList:
    print(g)

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
# the of elements in my list:  7
Iterating
3
tables
3
chairs
1.5
apples
['Ronaldo', 38, 185.5, True, None]

In [28]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]
print(matrix)
print("# of rows: ", len(matrix))
print("# of cols: ", len(matrix[0]))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# of rows:  3
# of cols:  3

In [29]:
matrix = [
    [1,2,3],
    [4,5,6]
    ]
print(matrix)
print("# of rows: ", len(matrix))
print("# of cols: ", len(matrix[0]))

[[1, 2, 3], [4, 5, 6]]
# of rows:  2
# of cols:  3

In [30]:
player = ['Ronaldo', 38, 185.5, True, None]
print(player)
print(player[1])# 38
print(player[-4])# 38

['Ronaldo', 38, 185.5, True, None]
38
38

In [36]:
grocceryList = [3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
print(grocceryList)

# chairs
print(grocceryList[3], type(grocceryList[3]))

# player
print(grocceryList[6], type(grocceryList[6]))
print(grocceryList[6][1])# 38
print(grocceryList[6][-4])# 38

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
chairs <class 'str'>
['Ronaldo', 38, 185.5, True, None] <class 'list'>
38
38

In [38]:
grocceryList = [3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
print(grocceryList)

grocceryList[4] = 2
print(grocceryList)

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
[3, 'tables', 3, 'chairs', 2, 'apples', ['Ronaldo', 38, 185.5, True, None]]

In [39]:
grocceryList = [3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
print(grocceryList)

grocceryList[6][4] = 2026
print(grocceryList)

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, 2026]]

In [44]:
my_list = [1,2,3,[4,5,["hello",[True, "Find ME!!"]],6]]
print(my_list[3][2][1][1])

Find ME!!

In [45]:
# What is the length of the list a?

a = [1, 2, 3, [4, 5], [6, 7, 8], 9, 0]
print(len(a))

7

In [46]:
a = [1, 2, 3, [[4], [5]], [[6, [7]], 8], 9, 0]
print(len(a))

7

In [49]:
matrix = [
    [1,2,3],
    [4,5,6]
    ]
print(matrix)
print(matrix[1][1])#5>>[rowIndex][colIndex]
print(matrix[0][2])#3>>[rowIndex][colIndex]

[[1, 2, 3], [4, 5, 6]]
5
3

In [50]:
matrix = [
    [1,2,3],
    [4,5,6]
    ]
print(matrix.index(3))

ValueError: ignored

In [ ]:
# iterate

In [55]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0,10,11]
    ]
print(matrix)
print("# of rows: ", len(matrix))
print("# of cols: ", len(matrix[0]))

# iterating by value

for row in matrix:
    # print(row)
    for ele in row:
        print(ele, end=" ")
    print()

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 10, 11]]
# of rows:  4
# of cols:  3
1 2 3
4 5 6
7 8 9
0 10 11

In [56]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0,10,11]
    ]
print(matrix)
print("# of rows: ", len(matrix))
print("# of cols: ", len(matrix[0]))

# iterating by index
for rowIndex in range(len(matrix)):
    for colIndex in range(len(matrix[0])):
        print(matrix[rowIndex][colIndex], end=" ")
    print()

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 10, 11]]
# of rows:  4
# of cols:  3
1 2 3
4 5 6
7 8 9
0 10 11

In [57]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9, -7,-8,-9],
    [0,10,11]
    ]
print(matrix)
print("# of rows: ", len(matrix))
print("# of cols: ", len(matrix[0]))

# iterating by value

for row in matrix:
    # print(row)
    for ele in row:
        print(ele, end=" ")
    print()

[[1, 2, 3], [4, 5, 6], [7, 8, 9, -7, -8, -9], [0, 10, 11]]
# of rows:  4
# of cols:  3
1 2 3
4 5 6
7 8 9 -7 -8 -9
0 10 11

In [59]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0,10,11]
    ]
print(matrix)
print("# of rows: ", len(matrix))
print("# of cols: ", len(matrix[0]))

# iterating by index
# find
find_element =7
for rowIndex in range(len(matrix)):
    for colIndex in range(len(matrix[0])):
        if matrix[rowIndex][colIndex]==find_element:
            print(rowIndex, colIndex)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 10, 11]]
# of rows:  4
# of cols:  3
2 0

In [60]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0,10,11]
    ]
print(matrix)

# find the max value
max_value = matrix[0][0]
for row in matrix:
    for ele in row:
        if ele>max_value:
            max_value = ele
print('max_value:', max_value)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 10, 11]]
max_value: 11

In [63]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]

# what is the sum of all the elements?
total = 0
for row in matrix:
    for ele in row:
        total+=ele
print("sum of all the elements is:", total)

sum of all the elements is: 66

In [66]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]

# what is the sum of all the elements row -wise?
#  >> [6,15,24,21]

ans = []

for row in matrix:
    curr_sum = 0
    for ele in row:
        curr_sum+=ele
    ans.append(curr_sum)
ans

[6, 15, 24, 21]

In [4]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]

# what is the sum of all the elements col -wise?
#  >> [12,25,29]

nRows = len(matrix)
nCols = len(matrix[0])

ans = []
for colIndex in range(nCols):
    ans.append(0)

print("Starting ans:", ans)

for rowIndex in range(nRows):
    for colIndex in range(nCols):
        ans[colIndex]+=matrix[rowIndex][colIndex]

print("ans:", ans)

Starting ans: [0, 0, 0]
ans: [12, 25, 29]

In [7]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
     ]

# what is the sum of the diaginal>> 1+5+9 = 15

total = 0
nRows = len(matrix)
for i in range(nRows):
    print(matrix[i][i])
    total+=matrix[i][i]
print("sum of the diaginal:", total)

1
5
9
sum of the diaginal: 15

In [8]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]
# what is the sum of the diaginal>> 1+5+9 = 15

total = 0
nRows = len(matrix)
nCols = len(matrix[0])
for i in range(min(nRows, nCols)):
    print(matrix[i][i])
    total+=matrix[i][i]
print("sum of the diaginal:", total)

1
5
9
sum of the diaginal: 15

In [9]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
     ]
# what is the sum of the diaginal>> 1+5 = 6

total = 0
nRows = len(matrix)
nCols = len(matrix[0])
for i in range(min(nRows, nCols)):
    print(matrix[i][i])
    total+=matrix[i][i]
print("sum of the diaginal:", total)

1
5
sum of the diaginal: 6