<a href="https://colab.research.google.com/gist/singhsidhukuldeep/2b83158af540215e6342f2ce188558c6/beginner-lists-1d-16october2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Lists - 1D - 16October2023

<img src="https://inventyourshit.com/wp-content/uploads/2020/11/4l8rtu.jpg" width="40%">

</center>

In [ ]:
### PTYHON LISTS üêç
# 1 Why Python lists?
# 2 How to create python lists?
# 3 what Python lists::: functionality and concepts revolving python lists

In [ ]:
# data types>> Primitive DS>> 1 data point at a time
# str, int, float, bool, None

In [ ]:
# Non Primitive DS >> stores more than 1 data point at a time
# >> Python lists

In [1]:
# planet earth üåçüåéüåèüåê
name = "Earth"
rank = 3
diameter = 12742.6
haveWeFoundAlliens = False

print(name, type(name))
print(rank, type(rank))
print(diameter, type(diameter))
print(haveWeFoundAlliens, type(haveWeFoundAlliens))

Earth <class 'str'>
3 <class 'int'>
12742.6 <class 'float'>
False <class 'bool'>

In [ ]:
# total planets >> 9
# for a single planet >> 4 vars, 4 simple pieces of info, 4 different lines
# 9*4 = 36

In [ ]:
# SBI
## name, age, bal, criminalRecord
# 1 cust>>4 var
# 10mil >> 40mil var

In [2]:
# python üêç lists
# ‚úÖ[]
# ‚ùå{}, ()
emptyList = []
print(emptyList)
print(type(emptyList))

[]
<class 'list'>

In [3]:
player = ['Ronaldo', 38, 185.5, True, None]
print(player)
print(type(player))

['Ronaldo', 38, 185.5, True, None]
<class 'list'>

In [4]:
grocceryList = [3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
print(grocceryList)
print(type(grocceryList))

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]
<class 'list'>

In [ ]:
# python lists can store absolutely any data type, even another list
# python lists can store duplicate values
# python lists maintain order

In [10]:
# ordering
# 0-indexing

###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']

print(avengers)

print(avengers[0])
print(avengers[1])
print(avengers[2])
print(avengers[3])
print(avengers[4])
# print(avengers[5]) # ‚ùå‚ùå‚ùå IndexError: list index out of range

print("Number of elements in python list are", len(avengers))

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man
thor
cap
hulk
groot
Number of elements in python list are 5

In [13]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']

print(avengers)
print("Number of elements in python list are:", len(avengers))

print("The first element in my python list is:", avengers[0])
print("The last element in my python list is:", avengers[len(avengers)-1])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
Number of elements in python list are: 5
The first element in my python list is: iron-man
The last element in my python list is: groot

In [17]:
# ordering
# 0-indexing
# -ive indexing

###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

print(avengers[0], avengers[-5])
print(avengers[1], avengers[-4])
print(avengers[2], avengers[-3])
print(avengers[3], avengers[-2])
print(avengers[4], avengers[-1])

# print(avengers[5]) # ‚ùå‚ùå‚ùå IndexError: list index out of range
# print(avengers[-6]) # ‚ùå‚ùå‚ùå IndexError: list index out of range

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man iron-man
thor thor
cap cap
hulk hulk
groot groot

In [15]:

# Arifa Tazeen
# To: Everyone
# 7:42 AM
# why negative indexing doesn't start with 0

###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########                                       0
print(avengers)

print(avengers[0])
print(-0==0)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man
True

In [19]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

bestAvenger = avengers[1]
print(bestAvenger)
print(type(bestAvenger))
print(len(bestAvenger))

['iron-man', 'thor', 'cap', 'hulk', 'groot']
thor
<class 'str'>
4

In [20]:
# Question - 1
# Given the list runs = [45, 67, 89, 12, 34, 56, 100]
# print the total of the runs on odd matches in the list.
#        1   2   3  4    5   6   7
runs = [45, 67, 89, 12, 34, 56, 100]
#        0   1   2   3   4   5   6
print(runs[0]+runs[2]+runs[4]+runs[6])

268

In [21]:
for i in range(0,len(runs), 2):
    print(i)

0
2
4
6

In [ ]:
# read

In [23]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)



print(avengers[1])
print(avengers[-2 ])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
thor
hulk

In [ ]:
# add

In [25]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)


# append >> will add 1 element at the end of the list
avengers.append('gamora')
print(avengers)
avengers.append('rocket')
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'gamora']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'gamora', 'rocket']

In [27]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

# insert >> insert will add a single element before a given index
avengers.insert(2, 'gamora')
print(avengers)
avengers.insert(3, 'rocket')
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'gamora', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'gamora', 'rocket', 'cap', 'hulk', 'groot']

In [28]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

# extend >> takes a list and extends it by another list
DC  = ['wonder-woman', 'superman', 'aquaman', 'flash']
print(DC)

avengers.extend(DC)
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['wonder-woman', 'superman', 'aquaman', 'flash']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'wonder-woman', 'superman', 'aquaman', 'flash']

In [29]:
# update

In [31]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

print(avengers[1])
avengers[1] = 'God of thunder'
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
thor
['iron-man', 'God of thunder', 'cap', 'hulk', 'groot']

In [33]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

print(avengers[-1])
avengers[-1] = ['groot', 'rocket']
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
groot
['iron-man', 'thor', 'cap', 'hulk', ['groot', 'rocket']]

In [ ]:
# del/remove

In [35]:

avengers = ['iron-man', 'thor', 'thanos', 'cap', 'hulk', 'thanos', 'groot']

print(avengers)
avengers.remove('thanos')
print(avengers)
avengers.remove('thanos')
print(avengers)
# remove>> will remove the first occurence of the element

['iron-man', 'thor', 'thanos', 'cap', 'hulk', 'thanos', 'groot']
['iron-man', 'thor', 'cap', 'hulk', 'thanos', 'groot']
['iron-man', 'thor', 'cap', 'hulk', 'groot']

In [36]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

del avengers[1]
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'cap', 'hulk', 'groot']

In [38]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

avengers.pop(2 )
print(avengers)

removedElement = avengers.pop(0)
print(removedElement)
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'hulk', 'groot']
iron-man
['thor', 'hulk', 'groot']

In [39]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Iterating lists

In [40]:
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)

# here element is a var, can call it whatever you want
for element in avengers:
    print(element)

iron-man
thor
cap
hulk
groot

In [41]:
###########     0         1       2       3       4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
###########    -5        -4      -3      -2      -1
print(avengers)

for i in range(0, len(avengers)): #0,1,2...len(avengers)-1
    print(i, avengers[i])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
0 iron-man
1 thor
2 cap
3 hulk
4 groot

In [42]:
my_list = [1, 2, 3, 4, 5]
i = -1
while i >= -5:
    print(my_list[i], end = " ")
    i -= 1

5 4 3 2 1

In [ ]:
runs = [67, 54, 12, 34, 77, 89, 101]
# Calculate the sum, average, max and min.

In [46]:
runs = [67, 54, 12, 34, 77, 89, 101]

total = 0
count = 0
for i in runs:
    total+=i
    count+=1
print('count: ', count)
print('total: ', total)
print('average: ', total/count)

count:  7
total:  434
average:  62.0

In [47]:
runs = [67, 54, 12, 34, 77, 89, 101]

min_val = runs[0]
for i in runs:
    if i<min_val:
        min_val=i
print('min_val: ', min_val)

min_val:  12

In [48]:
runs = [67, 54, 12, 34, 77, 89, 101]

max_val = runs[0]
for i in runs:
    if i>max_val:
        max_val=i
print('max_val: ', max_val)

max_val:  101

In [49]:
my_list = [1, 2, 3, 4, 5]
i = 0
while i < len(my_list):
    if my_list[i] == 3:
        break
    print(my_list[i], end = " ")
    i += 1

1 2

In [50]:
runs = [67, 54, 12, 34, 77, 89, 101]
# Calculate the sum of runs made by Virat on all matches with even index.
# use loops


sum_even_index_runs = 0

for i in range(len(runs)): # 0,1,2,3......len(runs)-1
    if i%2==0:
        sum_even_index_runs+=runs[i]
print('sum_even_index_runs: ', sum_even_index_runs)

sum_even_index_runs:  257

In [51]:
# f strings
my_str = "I live on Earth and that is 3 rank planet"
print(my_str)

I live on Earth and that is 3 rank planet

In [52]:
planetName = "Earth"
planetRank = 3
# f strings
# 1 replace the data with var names in {}
# 2 add f in front
my_str = f"I live on {planetName} and that is {planetRank} rank planet"
print(my_str)

I live on Earth and that is 3 rank planet

In [53]:
planetName = "Mars"
planetRank = 4
# f strings
# 1 replace the data with var names in {}
# 2 add f in front
my_str = f"I live on {planetName} and that is {planetRank} rank planet"
print(my_str)

I live on Mars and that is 4 rank planet

In [54]:
my_list = ["apple", "banana", "orange"]
for i in range(len(my_list)):
    print(f"{my_list[i]} is a fruit.", end = " ")

apple is a fruit. banana is a fruit. orange is a fruit.

In [55]:
my_list = [10, 20, 30, 40, 50]
i = 0
while i < len(my_list):
    my_list[i] *= 2
    i += 1
print(my_list)

[20, 40, 60, 80, 100]