<a href="https://colab.research.google.com/gist/singhsidhukuldeep/dc0eb7655368f79c4d8dd3fbfff9e5af/beginner-list-slicing-18-october-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : List Slicing - 18 October 2023


![](https://images7.memedroid.com/images/UPLOADED870/633c84725a9a8.jpeg)

</center>

In [1]:
# primitive DS
## str, int, float, bool, None

In [2]:
# non- primitive DS

In [ ]:
# python list
# []
# ordered >> indexing/sort
# duplicates are allowed
# it can store anything
# editable/ mutable

In [7]:
my_list = [5,2,7,7,7,8,6,1]
print(my_list)
my_list[2]*=-1
print(my_list)
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[5, 2, 7, 7, 7, 8, 6, 1]
[5, 2, -7, 7, 7, 8, 6, 1]
[-7, 1, 2, 5, 6, 7, 7, 8]
[8, 7, 7, 6, 5, 2, 1, -7]

In [14]:
# operations
a = [1,7,4]
b = [2,8,5,-15]

print('>> +')
print(a+b)

print('>> -')
# print(a-b) # TypeError: unsupported operand type(s) for -: 'list' and 'list'

print('>> /')
# print(a/b) # TypeError: unsupported operand type(s) for /: 'list' and 'list'

print('>> *')
# print(a*b) # TypeError: can't multiply sequence by non-int of type 'list'

>> +
[1, 7, 4, 2, 8, 5, -15]
>> -
>> /
>> *

In [16]:
a = [1,7,4]
print('>> *')
print(a*2)
print(a*5)

# x*4 = x+x+x+x

>> *
[1, 7, 4, 1, 7, 4]
[1, 7, 4, 1, 7, 4, 1, 7, 4, 1, 7, 4, 1, 7, 4]

In [ ]:
# iterating

# my_list

# for i in my_list: # direct iteration of the values inside the my_list
# for i in range(len(my_list)): # 0,1,2....len(my_list)-1>> my_list[i]

##**Question-1**
Given list of all runs by Virat, print runs made in odd matches (Even Indexes).


```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [50]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[0::2])

[62, 74, 12, 122, 81]

In [19]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

for i in range(len(runs)):
    if i%2==0:
        print(runs[i])

62
74
12
122
81

## **Question-2**
Given list of all runs by Virat, create a new list of runs made in odd matches (Even Indexes).


```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Create a function called `odd_runs`, that will take one argument, which is the `runs` list

In [51]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[0::2])

[62, 74, 12, 122, 81]

In [21]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

def odd_runs(runs):
    result = []

    for i in range(len(runs)):
        if i%2==0:
            # print(runs[i])
            result.append(runs[i])

    return result

odd_runs(runs)

[62, 74, 12, 122, 81]

## **Question-3**
Given list of all runs by Virat, create a new list of runs made in last 5 matches.


```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Output should be: `[101, 122, 99, 81, 55]`

In [52]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[-5:])

[101, 122, 99, 81, 55]

In [23]:
##########################   index of the last value is, -1, len(runs)-1
##########################   index of the second last value is, len(runs)-2
##########################   index of the third last value is, len(runs)-3
##########################   index of the fourth last value is, len(runs)-4
##########################   index of the fifth last value is, len(runs)-5
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

result = []

for i in range(len(runs)-5,len(runs)):#>>  len(runs)-5  ....... len(runs)-1
    result.append(runs[i])
print(result)

[101, 122, 99, 81, 55]

In [22]:
##########################   -5   -4  -3  -2  -1
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

result = []

for i in range(-5,0):#>> -5   -4  -3  -2  -1
    result.append(runs[i])
print(result)

[101, 122, 99, 81, 55]

## **Question-4**
Given list of all runs by Virat, create a new list of runs made in first 3 matches.

```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Output should be: `[62, 85, 74]`

In [53]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[0:3])

[62, 85, 74]

In [24]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
###     0    1   2
result = []

for i in range(3):#>> 0 1 2
    result.append(runs[i])
print(result)

[62, 85, 74]

## **Question-5**

Given list of all runs by Virat, create a new list of runs made from the 3rd match to the 7th match.

```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Output should be: `[74, 10, 12, 101, 122]`

You can assume that the list length will be valid

In [54]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[2:7])

[74, 10, 12, 101, 122]

In [25]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
####    0   1    2  3   4    5   6     7   8   9

result = []

for i in range(2,7):
    result.append(runs[i])
print(result)

[74, 10, 12, 101, 122]

In [26]:
# slicing

In [ ]:
# list slicing>> output is ALWAYS a python list  👈👈👈👈👈👈👈👈

In [27]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']

In [28]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[2])

cap

In [30]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end] >> slice the list >> [start, start+1, start+2...end-1]>>> end index is NOT included
print(avengers[1:4])# start = 1 , end = 4>>1,2,3

# question
print(avengers[0:2]) # start = 0, end = 2>> 0 1

['thor', 'cap', 'hulk']
['iron-man', 'thor']

In [33]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included
print(avengers[1:4:1])# start = 1, end = 4, step = 1>> 1,2,3

# question
print(avengers[1:4:2]) # start = 1, end = 4 , step = 2>>1,3

# question
print(avengers[0:3:2]) # start = 0, end = 3 , step = 2>>0,2

['thor', 'cap', 'hulk']
['thor', 'hulk']
['iron-man', 'cap']

In [36]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1


# question
print(['iron-man', 'cap', 'groot'])
print(avengers[0:5:2])
print(avengers[0:6:2])

print(avengers[0:600:2])

['iron-man', 'cap', 'groot']
['iron-man', 'cap', 'groot']
['iron-man', 'cap', 'groot']
['iron-man', 'cap', 'groot']

In [37]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[100:200])

[]

In [40]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[1:4:1])# start = 1, end = 4, step = 1>> 1,2,3
print(avengers[-4:-1:1])
print(avengers[1:-1:1])
print(avengers[-4:4:1])

# 0 index and -ive index can be interchanged wherever you want

['thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']

In [42]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[1:4:1])# start = 1, end = 4, step = 1>> 1,2,3

print(avengers[4:2:-1])# start = 4, end = 2, step = -1>> 4,3

# question
print(avengers[4:0:-3])# start = 4, end = 0, step = -3>> 4,1

['thor', 'cap', 'hulk']
['groot', 'hulk']
['groot', 'thor']

In [43]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[1:4])# start = 1, end = 4, step = 1(default)>> 1,2,3

['thor', 'cap', 'hulk']

In [45]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# list[start:end:step] >> slice the list >> [start, start+step, start+2*step...till end]
# >>> stop before end, end index is NOT included

print(avengers[:4:])# start = left side(step is +ive), end = 4, step = 1

# step is +ive: default start is left  side, default end is right side
# step is -ive: default start is right side, default end is left  side

print(avengers[4::-1])# start = 4, end = left side as step is -ive,  step = -1

['iron-man', 'thor', 'cap', 'hulk']
['groot', 'hulk', 'cap', 'thor', 'iron-man']

In [46]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[:]) # start=left  side, end=right side, step =1

['iron-man', 'thor', 'cap', 'hulk', 'groot']

In [47]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[::-1]) # start=right side, end=left  side, step =-1

['groot', 'hulk', 'cap', 'thor', 'iron-man']

In [48]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

print(avengers[::-2]) # start=right side, end=left  side, step =-2

['groot', 'cap', 'iron-man']

In [49]:
####            0          1      2       3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
####           -5         -4      -3      -2       -1

# stupid slicing
print(avengers[1:4:-2])

[]

In [55]:
# str splitting
s = "this is my str"
print(s.split('is'))

['th', ' ', ' my str']

In [56]:
# str splitting
s = "this is my str"
print(s.split('i'))

['th', 's ', 's my str']

In [57]:
# str splitting
s = "this is my str"
print(s.split(' '))

['this', 'is', 'my', 'str']

![](https://qph.cf2.quoracdn.net/main-qimg-36bf3a962c4e64d26d9f8b16b8ba4ae1)

In [66]:
# Quick fire questions
##             0   1  2    3   4   5   6   7   8   9   10
python_list = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
##            -11 -10 -9  -8  -7  -6  -5  -4  -3  -2   -1

In [71]:
print("Quick-Question: 10",      python_list[-8:5:-1])
print("Streak: _")

Quick-Question: 10 []
Streak: _

In [70]:
print("Quick-Question: 9",       python_list[-8:5])
print("Streak: _")
# default step is 1

Quick-Question: 9 [30, 40]
Streak: _

In [68]:
print("Quick-Question: 8",       python_list[-2:])
print("Streak: _")
# default step is 1

Quick-Question: 8 [90, 100]
Streak: _

In [67]:
print("Quick-Question: 7",       python_list[:-5])
print("Streak: _")
# default step is 1
# -5 is same as 6

Quick-Question: 7 [0, 10, 20, 30, 40, 50]
Streak: _

In [65]:
print("Quick-Question: 6",       python_list[-2:-7])
print("Streak: _")
# default step is 1

Quick-Question: 6 []
Streak: _

In [64]:
print("Quick-Question: 5",       python_list[-2:-5:-1])
print("Streak: _")

Quick-Question: 5 [90, 80, 70]
Streak: _

In [63]:
print("Quick-Question: 4",       python_list[7:])
print("Streak: _")

Quick-Question: 4 [70, 80, 90, 100]
Streak: _

In [62]:
print("Quick-Question: 3",       python_list[:])
print("Streak: _")

Quick-Question: 3 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Streak: _

In [60]:
print("Quick-Question: 2",       python_list[:8])
print("Streak: _")

Quick-Question: 2 [0, 10, 20, 30, 40, 50, 60, 70]
Streak: _

In [59]:
print("Quick-Question: 1",       python_list[3:5])
print("Streak: _")

Quick-Question: 1 [30, 40]
Streak: _