<a href="https://colab.research.google.com/gist/singhsidhukuldeep/1e66698257deaee7f934ef88f24aea98/beginner-problem-solving-1-27-september-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Problem Solving 1 - 27 September 2023

![](https://i.giphy.com/media/QfHVl7Zd1ZgDosoIjc/giphy.webp)

In [1]:
# recap

# 5 data types
## str, int, float, bool, None

In [2]:
print("anything inside quotes is a str")
print('this str is on a single line')
print('this str \n is on \n multiple lines') # \n>> new line

anything inside quotes is a str
this str is on a single line
this str
 is on
 multiple lines

In [3]:
print('''this str
 is on
  multiple lines''')

this str
 is on
  multiple lines

In [4]:
print(int(5/2))
print(int(-5/2))
print(int("2"))
print(int(2.5))
print(int('2.5'))

2
-2
2
2

ValueError: ignored

In [6]:
print('''❓Print the correct python code that will print the following pattern.

```
**
*****
******
```''')

❓Print the correct python code that will print the following pattern.

```
**
*****
******
```

In [7]:
print('''**
*****
******''')

**
*****
******

In [8]:
print('**\n*****\n******')

**
*****
******

In [ ]:
# `*****` >> to write * s in chat

In [10]:
print('*'*2)
print('*'*5)
print('*'*6)

**
*****
******

In [11]:
print('*'*2, '*'*5, '*'*6)

** ***** ******

In [12]:
print('*'*2, '*'*5, '*'*6, sep='\n')

**
*****
******

In [13]:
print('''
❓Given two strings and you have to concatenate both of them with a $ symbol in between

Input Format
```
Two strings namely, str1 and str2
```
Output Format
```
str1 and str2 joined together
```
Sample Input
```
str1 = Hello
str2 = World
```
Sample Output
```
Hello$World
```''')

❓Given two strings and you have to concatenate both of them with a $ symbol in between

Input Format
```
Two strings namely, str1 and str2
```
Output Format
```
str1 and str2 joined together
```
Sample Input
```
str1 = Hello
str2 = World
```
Sample Output
```
Hello$World
```

In [14]:
str1 = input()
str2 = input()

print(str1+'$'+str2)

Hello
World
Hello$World

In [16]:
print(str1,'$',str2, sep='')

Hello$World

In [17]:
print(str1,str2, sep='$')

Hello$World

In [18]:
print('''
❓ What is the output
```
print(type(int(float(input()))))
```
assume user enters `2.2`
''')

❓ What is the output
```
print(type(int(float(input()))))
```
assume user enters `2.2`

In [23]:
print(type(int(float(input()))))

2.2
<class 'int'>

In [22]:
type(int(float(input())))

2.2

int

In [24]:
print('''
❓ What is the output
```
print(type(str(float(input()))))

print(str(float(input())))
```
assume user enters 2''')

❓ What is the output
```
print(type(str(float(input()))))

print(str(float(input())))
```
assume user enters 2

In [30]:
print(type(str(float(input()))))

2
<class 'str'>

In [29]:
type(str(float(input())))

2

str

In [28]:
print(str(float(input())))

2
2.0

In [ ]:
# >>2>>input()>>"2">>float>>2.0>>str>>"2.0"

In [31]:
print('''
❓ What will be the output of the following python code
```python
print(bool(False - 1))
print(bool(True - 3))
print(True + 3)
```

```
A)
True
True
4
```
```
B)
True
False
3
```
```
C)
False
False
None
```
```
D) Error
```
''')

❓ What will be the output of the following python code
```python
print(bool(False - 1))
print(bool(True - 3))
print(True + 3)
```

```
A)
True
True
4
```
```
B)
True
False
3
```
```
C)
False
False
None
```
```
D) Error
```

In [33]:
print('HINT', int(True), int(False))
print('HINT', float(True), float(False))
print('HINT', str(True), str(False))

HINT 1 0
HINT 1.0 0.0
HINT True False

In [34]:
print(bool(False - 1)) # 0-1 = -1 >>True
print(bool(True - 3)) # 1-3=-2 >>True
print(True + 3)# 1+3=4

True
True
4

In [35]:
print('''
❓ What will be the output of the following python expression
```python
print(-50 % 7)
```

```
a. 7
b. 1
c. 6
d. 13
```
''')

❓ What will be the output of the following python expression
```python
print(-50 % 7)
```

```
a. 7
b. 1
c. 6
d. 13
```

In [ ]:
# HINT: By definition, remainder cannot be negative.

In [37]:
print(-50 % 7)
# -50 = 7*(-7) +(-1) ❌
# -5 = 7*(-8) + (6) ✅

6

In [38]:
print(50%7)
# 50 = 7*(7) +(1)

1

In [39]:
print("""
❓Pac-man

**Problem Description**

In this exercise, you need to implement some rules from [Pac-Man](https://en.wikipedia.org/wiki/Pac-Man), the classic 1980s-era arcade-game.

You have to answer whether the Pac-Man loses or not.

Your are given the following integer inputs (0 / 1) one in each line:

1\. Does the Pac-Man have a power pellect active?

2\. Is the Pac-Man touching a ghost?

The Pac-Man loses if it is touching a ghost and **does not **have a power pellet active.\
**Input Format**

There are 2 lines in the input.

The first line indicates if the Pac-Man has a power pellet active (1 for yes, 0 for no)

The second line indicates if the Pac-Man is touching a ghost (1 for yes, 0 for no)

**Output Format**

Print 1 if the Pac-Man loses else 0.

**Example Input**

Input 1:-

0\
1

Input 2:-

0\
0

**Example Output**

Output 1:-

1

Output 2:-

0

**Example Explanation**

Sample 1:-

The power pellet is not active as it is 0 and the Pac-Man touches the ghost as well. So Pac-Man loses and hence the answer is 1.

Output 2:-

The power pellet is not active as it is 0 and the Pac-Man do not touch the ghost as well. So Pac-Man wins and hence the answer is 0.
""")

❓Pac-man

**Problem Description**

In this exercise, you need to implement some rules from [Pac-Man](https://en.wikipedia.org/wiki/Pac-Man), the classic 1980s-era arcade-game.

You have to answer whether the Pac-Man loses or not.

Your are given the following integer inputs (0 / 1) one in each line:

1\. Does the Pac-Man have a power pellect active?

2\. Is the Pac-Man touching a ghost?

The Pac-Man loses if it is touching a ghost and **does not **have a power pellet active.**Input Format**

There are 2 lines in the input.

The first line indicates if the Pac-Man has a power pellet active (1 for yes, 0 for no)

The second line indicates if the Pac-Man is touching a ghost (1 for yes, 0 for no)

**Output Format**

Print 1 if the Pac-Man loses else 0.

**Example Input**

Input 1:-

01

Input 2:-

00

**Example Output**

Output 1:-

1

Output 2:-

0

**Example Explanation**

Sample 1:-

The power pellet is not active as it is 0 and the Pac-Man touches the ghost as well. So Pac-Man loses and hence the answer is 1.

Output 2:-

The power pellet is not active as it is 0 and the Pac-Man do not touch the ghost as well. So Pac-Man wins and hence the answer is 0.

In [41]:
power_pellect_active = int(input()) # 1 is active , 0 it is not
touching_a_ghost = int(input())
if touching_a_ghost and not power_pellect_active:
    print(1)# loose
else:
    print(0)#win

0
1
1

In [42]:
power_pellect_active = int(input()) # 1 is active , 0 it is not
touching_a_ghost = int(input())

# check if INPUT is valid
if power_pellect_active!=0 and power_pellect_active!=1:
    print('power_pellect_active input is INVALID')
if touching_a_ghost!=0 and touching_a_ghost!=1:
    print('touching_a_ghost input is INVALID')

# Print 1 if the Pac-Man loses else 0.
if touching_a_ghost and not power_pellect_active:
    print(1)# loose
else:
    print(0)#win

5
10
power_pellect_active input is INVALID
touching_a_ghost input is INVALID
0

In [ ]:
# touching_a_ghost and (not power_pellect_active)
# dying and at risk
# T and T

In [43]:
print('''
❓Take an amount as input from the user
    You only have 200 and 500 Rs Notes in the ATM. For one transaction,
    you can only dispatch notes of a single type.
    Given the amount -
        - "Dispatching Cash!" if it can be dispatched.
        - "Denomination not available!" if it can not be''')

❓Take an amount as input from the user
    You only have 200 and 500 Rs Notes in the ATM. For one transaction,
    you can only dispatch notes of a single type.
    Given the amount -
        - "Dispatching Cash!" if it can be dispatched.
        - "Denomination not available!" if it can not be

In [47]:
amount = int(input())
if amount%200==0 or amount%500==0:
    print("Dispatching Cash!")
else:
    print("Denomination not available!")

300
Denomination not available!

In [50]:
# ❓ ask the user for an integer greater than 9, get the last 2 digits
# 124578 >> 78

num = int(input())
print("last digit is", num%10)
print("last 2 digits is", num%100)

124578
last digit is 8
last 2 digits is 78

In [58]:
num = 123456789 # >>5
# 123456789 >>56789>>5
# remove left, remove right
# %,             // or int()
print(num%100000)
print((num%100000)//10000)

# 123456789 >>12345>>5
# remove right, remove left
# // or int(),  %
print(num//10000)
print((num//10000)%10)

56789
5
12345
5

In [60]:
# ❓ ask the user for an integer greater than 9, get the 2nd last digit
# 124578 >> 7

num = int(input())
print("last 2 digits", num%100)
print("2nd last digit", (num%100)//10)

124578
last 2 digits 78
2nd last digit 7

In [61]:
print('''
❓ Build a meter system for an auto. Take into two inputs.
Kilometers Travelled and Stall Time (in minutes). Rate List -
- First 10 kms - Rs 10 per Km
- Next 40 kms - Rs 9 per Km
- Next 100 kms - Rs 8 per Km
- Any leftover km count - Rs. 6 per Km

- Rs 5 extra for every minute of Stall Time.
''')

❓ Build a meter system for an auto. Take into two inputs.
Kilometers Travelled and Stall Time (in minutes). Rate List -
- First 10 kms - Rs 10 per Km
- Next 40 kms - Rs 9 per Km
- Next 100 kms - Rs 8 per Km
- Any leftover km count - Rs. 6 per Km

- Rs 5 extra for every minute of Stall Time.

In [68]:
kms = int(input())
stallTime = int(input())

# fare because of dist
dist_fare = 0

if kms<=10:
    dist_fare= kms*10 # first 10 kms have the same rate of 10
elif kms<=10+40:
    dist_fare= 10*10 # first 10 kms have the same rate of 10
    remaining_kms = kms-10
    dist_fare=dist_fare+remaining_kms*9 # 11th km to 50th km fare is Rs 9 per Km
elif kms<=10+40+100:
    dist_fare= 10*10 # first 10 kms have the same rate of 10
    remaining_kms = kms-10
    dist_fare=dist_fare+40*9 # 11th km to 50th km fare is Rs 9 per Km
    remaining_kms = remaining_kms-40
    dist_fare=dist_fare+remaining_kms*8 # 50th km to 150th km fare is Rs 8 per Km
else:
    dist_fare= 10*10 # first 10 kms have the same rate of 10
    remaining_kms = kms-10
    dist_fare=dist_fare+40*9 # 11th km to 50th km fare is Rs 9 per Km
    remaining_kms = remaining_kms-40
    dist_fare=dist_fare+100*8 # 50th km to 150th km fare is Rs 8 per Km
    remaining_kms = remaining_kms-100
    dist_fare=dist_fare+remaining_kms*6 ## Any leftover km count - Rs. 6 per Km

# fare because of stall
stall_fare = 0
stall_fare = stallTime*5

# final fare
print('dist_fare:', dist_fare)
print('stall_fare:', stall_fare)
print('Total fare:', dist_fare+stall_fare)

200
20
dist_fare: 1560
stall_fare: 100
Total fare: 1660

In [65]:
10*10+15*9

235

In [67]:
10*10+40*9+25*8

660

In [69]:
10*10+40*9+100*8+50*6

1560