<a href="https://colab.research.google.com/gist/singhsidhukuldeep/f5ae55b4a014004bce8ea559aa7f1570/beginner-problem-solving-2-9th-october-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Problem Solving 2 - 9th October 2023

<img src ="https://i.giphy.com/media/gG9fVWJdN41NeiHhzk/giphy.webp" >

In [ ]:
# QUESTION 1
# ask the user to enter an integer (non-zero +ive)
# find how many digits it has (do not use len function or consider int as a str)

# 741
# 3

In [2]:
# 1234
# * / + - // % >> 10
# LD= 1234%10 = 4
# left after removing last digit = int(1234/10) = 123
                                # = 1234//10 (only works for +ive numbers)

In [3]:
# 1234 >> //10 until 0 is reached
# //10 >>123
# //10 >>12
# //10 >>1
# //10 >>0

In [5]:
n = int(input())
count = 0

while n>0:
    n = n//10
    count += 1
print("# of digits is", count)

741
# of digits is 3

In [ ]:
# doubt
# kunal vijay
# To: Me
# 7:24 AM
# how to count digits after decimal?

In [ ]:
# 0.1234 >> num*10

In [9]:
num = 0.1234
print(num*10000)
print(num*10000-int(num*10000))

0.0

In [11]:
num = 0.12304
count = 0
while True:
    if num*(10**count)-int(num*(10**count))==0:
        break
    count+=1
print(count)

5

In [12]:
# QUESTION 2
print("""
Ask the user to enter an int N and get this pattern

INPUT = 3
1
1 2
1 2 3

INPUT = 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

""")

Ask the user to enter an int N and get this pattern

INPUT = 3
1
1 2
1 2 3

INPUT = 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
0>> 1 >> (1,2)
1>> 1 2 >> (1,3)
2>> 1 2 3
3>> 1 2 3 4 >> start = 1, end = i+2
4>> 1 2 3 4 5

In [13]:
for i in range(5): # 0 1 2 3 4
    for j in range(1,i+2):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
# QUESTION 3
print("""
Ask the user to enter an int N and get this pattern

INPUT = 3
0 0 1
0 2
3

INPUT = 5
0 0 0 0 1
0 0 0 2
0 0 3
0 4
5

""")

Ask the user to enter an int N and get this pattern

INPUT = 3
0 0 1
0 2
3

INPUT = 5
0 0 0 0 1
0 0 0 2
0 0 3
0 4
5

In [15]:
# 1>>0 0 0 0 0 >>5-1+1
# 2>>0 0 0 0
# 3>>0 0 0 # 5-3+1=3
# 4>>0 0
# 5>>0

# is increase, 0's decrease
# N-i❌
# N-i+1 ✅
# N-i-1
N = 5
for i in range(1,N+1): # 1 2 3 4 5
    for j in range(N-i+1):
        print(0, end=" ")
    print()

0 0 0 0 0
0 0 0 0
0 0 0
0 0
0

In [ ]:
# for j in range(a): >> 0,1,2,3,4.....a-1

In [ ]:
# for j in range(N-i+1): >>N-i+1-1 = N-i

In [18]:
# 1>>0 0 0 0 0 >>5-1+1
# 2>>0 0 0 0
# 3>>0 0 0 # 5-3+1=3
# 4>>0 0
# 5>>0

# is increase, 0's decrease
# N-i❌
# N-i+1 ✅
# N-i-1

# 1>> 0 0 0 0 1
# 2>> 0 0 0 2
# 3>> 0 0 3
# 4>> 0 4
# 5>> 5


N = 5
for i in range(1,N+1): # 1 2 3 4 5
    for j in range(N-i+1):
        if j==N-i:
            print(i, end=" ")
        else:
            print(0, end=" ")
    print()

0 0 0 0 1
0 0 0 2
0 0 3
0 4
5

In [ ]:
# 0 0 0 0 0
# 0 0 0 0
# 0 0 0
# 0 0
# 0

# 0 0 0 0 1
# 0 0 0 2
# 0 0 3
# 0 4
# 5

In [19]:

N = int(input())
for i in range(1,N+1): # 1 2 3 4 5
    for j in range(N-i+1):
        if j==N-i:
            print(i, end=" ")
        else:
            print(0, end=" ")
    print()

7
0 0 0 0 0 0 1
0 0 0 0 0 2
0 0 0 0 3
0 0 0 4
0 0 5
0 6
7

In [20]:
N = int(input())
for i in range(1,N+1): # 1 2 3 4 5
    for j in range(N-i+1):
        if i==3 and j==2:
            print('😎', end=" ")
            continue
        if j==N-i:
            print(i, end=" ")
        else:
            print(0, end=" ")
    print()

7
0 0 0 0 0 0 1
0 0 0 0 0 2
0 0 😎 0 3
0 0 0 4
0 0 5
0 6
7

In [ ]:
# QUESTION 4
# ask the user to enter an integer (non-zero +ive)
# find how many even digits it has
#  (do not use len function or consider int as a str)

# 741
# 1

In [21]:
n = int(input())
count = 0

while n>0:
    ld = n%10 # get the last digit
    n = n//10
    if ld%2==0:
        count += 1
print("# of even digits is", count)

123456
# of even digits is 3

In [ ]:
# QUESTION 5

Problem Description
You are given an integer A as input and you need to determine whether it is a palindrome or not.

A palindrome integer is one whose digits, when reversed, result in the same number.

For example, `121` is a palindrome because its reverse is also `121`, but `123` is not a palindrome because its reverse is `321`.

Note: The given integer will not have any leading zeros.

In [ ]:
# 123>>3


# 3>2>1
# 0
# 0*10+3>> new_num*10+ld
# 3*10+2
# 32*10+1

In [26]:
n = 1234
n = int(input())
n_old = n
n_new = 0
while n>0:
    ld = n%10 # get the last digit
    n_new = n_new*10+ld
    n = n//10
    print(ld, n_new)
if n_old==n_new:
    print('palindrome')
else:
    print('NOT palindrome')

12321
1 1
2 12
3 123
2 1232
1 12321
palindrome

In [ ]:
43>>43*10=430>>430+2432

In [28]:
# QUESTION 6
print("""
Ask the user to enter an int N and get this pattern

INPUT=3
__*
_**
***

INPUT=5
____*
___**
__***
_****
*****

""")

Ask the user to enter an int N and get this pattern

INPUT=3
__*
_**
***

INPUT=5
____*
___**
__***
_****
*****

In [29]:
# INPUT=5
# ____*
# ___**
# __***
# _****
# *****

#  0>> ____*
#  1>> ___**
#  2>> __***
#  3>> _****
#  4>> *****

#  0>> ____ >>5-0-1=4
#  1>> ___
#  2>> __
#  3>> _
#  4>>

#N-i, [[N-i-1]], ...

N = 5
for i in range(N): # 0 1 2 3 4
    for j in range(N-i-1):
        print('_', end="")
    print()

____
___
__
_

In [30]:
# INPUT=5
# ____*
# ___**
# __***
# _****
# *****

#  0>> ____*
#  1>> ___**
#  2>> __***
#  3>> _****
#  4>> *****

#  0>> ____ >>5-0-1=4
#  1>> ___
#  2>> __
#  3>> _
#  4>>

#N-i, [[N-i-1]], ...


#  0>> *
#  1>> **
#  2>> ***
#  3>> ****
#  4>> *****

N = 5
for i in range(N): # 0 1 2 3 4
    for j in range(N-i-1):
        print('_', end="")
    for j in range(i+1):
        print('*', end="")
    print()

____*
___**
__***
_****
*****

In [ ]:
# for j in range(N-i-1): # printing "_" N-i-1 times>> print("_"*(N-i-1))
#     print('_', end="")

In [31]:
print('a'*5)

aaaaa

In [32]:
N = 5
for i in range(N): # 0 1 2 3 4
    # for j in range(N-i-1):
    #     print('_', end="")
    print('_'*(N-i-1), end="")
    # for j in range(i+1):
    #     print('*', end="")
    print('*'*(i+1), end="")
    print()

____*
___**
__***
_****
*****

In [33]:
N = 5
for i in range(N): # 0 1 2 3 4
    print('_'*(N-i-1), end="")
    print('*'*(i+1), end="")
    print()

____*
___**
__***
_****
*****

![](https://media.tenor.com/R6YKXLuuJ8EAAAAd/thanos-dancing.gif)