<a href="https://colab.research.google.com/gist/singhsidhukuldeep/a34be9eda3e90d6484349dc0d2bb0d69/beginner-data-types-20th-september-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Data Types - 20th September 2023

<img src="https://i.giphy.com/media/KAq5w47R9rmTuvWOWa/giphy.webp" width="20%" >

NEW! Most Popular Programming Languages 1965 - 2022: https://youtu.be/qQXXI5QFUfw

</center>

In [ ]:
print("Welcome back 😎")

Welcome back 😎

In [ ]:
# recap #

In [ ]:
print("print is a function that is useful to display output on screen")

print is a function that is useful to display output on screen

In [ ]:
# python is GREAT 🙌
# 1: is case sensitive
# 2: is precisely typed

In [ ]:
print("this is a str that will be printed on screen")
print('this is a str that will be printed on screen')
print("""this
is a str that
will be printed
on screen""")
print('''this is a str that
will be printed on screen''')

this is a str that will be printed on screen
this is a str that will be printed on screen
this
is a str that
will be printed
on screen
this is a str that
will be printed on screen

In [ ]:
# print("this is a str that
# will be printed on screen")
print('this is a str that
will be printed on screen')

SyntaxError: ignored

In [ ]:
print(type('''this is a str that
will be printed on screen'''))

<class 'str'>

In [ ]:
# 5 data types >> # str, int, float, bool, none

In [ ]:
# str
print("this is a str that will be printed on screen")
print('this is a str that will be printed on screen')
print("""this
is a str that
will be printed
on screen""")
print('''this is a str that
will be printed on screen''')

this is a str that will be printed on screen
this is a str that will be printed on screen
this
is a str that
will be printed
on screen
this is a str that
will be printed on screen

In [ ]:
# numbers
## int
print(-1,0,1)
print(type(-1),type(0),type(1))
## float
print(-1.123,0.456,1.0)
print(type(-1.123),type(0.456),type(1.0))

-1 0 1
<class 'int'> <class 'int'> <class 'int'>
-1.123 0.456 1.0
<class 'float'> <class 'float'> <class 'float'>

In [ ]:
# bool
print(True)
print(False)

True
False

In [ ]:
print(false)

NameError: ignored

In [ ]:
# None
print(None)

None

In [ ]:
# I want to store
# >> addhaar num>> str
# >> bank bal >> float
# >> age in years >> int
# >> whether elephant is the BEST animal or not >> bool
# >> people who say python is not great >> None

In [ ]:
# hack >>0-10 cents>>0.01$ to 0.10 $
# 0.1*100_000_000>>$10_000_000

In [ ]:
# expressions
# lhs = rhs
# rhs will be processed first and will be stored in LHS
my_var = 10
print(my_var)
print(type(my_var))

10
<class 'int'>

In [ ]:
# varaiable names
# no spaces
# cannot start with numbers
# no keyword
# in general >> a-z, A-Z, 0-9, _
# recommendation>> don't create var names that are popular functions

In [ ]:
# input function
# gettting the input
# IMP>> always treats absolutely everything as a str

In [ ]:
name = input("What is your name my friend 🙂: ")

What is your name my friend 🙂: Ronaldo

In [ ]:
print("user entered:", name)

user entered: Ronaldo

In [ ]:
print(int("1234"))

1234

In [ ]:
print(str(1234))

1234

In [ ]:
print(float("12345.12345"))

12345.12345

In [ ]:
print(int("Ronaldo"))

ValueError: ignored

In [ ]:
print(float("12345.12345")) # str to float
print(int("12345.12345")) # float as str to int

12345.12345

ValueError: ignored

In [ ]:
print(int(12345.456789)) # float to int
print(int(-12345.456789)) # float to int
# not rounding off, throwing away the decimal values

12345
-12345

In [ ]:
print("""name""") # here name is not a var

name

In [ ]:
name = "Ronaldo"
age = 39
height = 185.5
isBetterThanMesi = True
FIFA_trophies = None
print(name, age, height, isBetterThanMesi, FIFA_trophies) # multiple output by seperating them with ,

Ronaldo 39 185.5 True None

In [ ]:
print("Ronaldo", 39, 185.5, True, None)

Ronaldo 39 185.5 True None

In [ ]:
print("whoaaaa")
print("whaaaat?")

whoaaaa
whaaaat?

In [ ]:
# sep >> if a single print is printing multiple data points(, seperated), the output with be sep seprated [default is " "]
# end >> once a print is done, what should be the end, default is new line

In [ ]:
print("Ronaldo", 39, 185.5, True, None)
print("Ronaldo", 39, 185.5, True, None, sep = " ")

Ronaldo 39 185.5 True None
Ronaldo 39 185.5 True None

In [ ]:
print("Ronaldo", 39, 185.5, True, None, sep = "--")

Ronaldo--39--185.5--True--None

In [ ]:
print("Ronaldo", end="this is done ")
print( 39)
print( 185.5)
print( True)

Ronaldothis is done 39
185.5
True

In [ ]:
print("Ronaldo")
print( 39)
print( 185.5)
print( True)

Ronaldo
39
185.5
True

In [ ]:
# end is new line
print("Ronaldo", 39, sep = " ")
print( 185.5, True, sep = ",,")
print( None, sep = " ")

Ronaldo 39
185.5,,True
None

In [ ]:
print("Ronaldo", 39, sep = "--", end=" <this is done>")
print( 185.5, True, sep = ",,")
print( None, sep = " ")

Ronaldo--39 <this is done>185.5,,True
None

In [ ]:
print("how to tell in a str that a new line has happened")
print("we do that by \n this will be on a new line")
print("by default end is \n")

how to tell in a str that a new line has happened
we do that by
 this will be on a new line
by default end is

In [ ]:
# end is new line
print("Ronaldo", 39, sep = "\n")
print( 185.5, True, sep = ",,")
print( None, sep = " ")

Ronaldo
39
185.5,,True
None

In [ ]:
# sep>> seperattion between values printed by same print function, default is " "
# end>> how a print function ends, default is "\n"

In [ ]:
# Dheeraj Bagga
# To: Everyone
# 8:04 AM
print("Start")
print("Abd\n")
print("End")

Start
Abd

End

In [ ]:
# ques
print("Ronaldo", 39, 185.5, True, None)
# 1 why are they space seperated >> beacuse default sep =" "
# 2 how to remove the space seperated
print("Ronaldo", 39, 185.5, True, None, sep="")
# 3 how to remove the space seperated and replace by ,
print("Ronaldo", 39, 185.5, True, None, sep=",")
# 3 how to remove the space seperated and replace by ", "
print("Ronaldo", 39, 185.5, True, None, sep=", ")

Ronaldo 39 185.5 True None
Ronaldo39185.5TrueNone
Ronaldo,39,185.5,True,None
Ronaldo, 39, 185.5, True, None

In [ ]:
print("Ronaldo", 39, 185.5, True, None, sep="🏃‍♂️")

Ronaldo🏃‍♂️39🏃‍♂️185.5🏃‍♂️True🏃‍♂️None

In [ ]:
# simple maths
print(20+2) # int + int

22

In [ ]:
print("20+2") # str

20+2

In [ ]:
print("20"+"2") # "str" + "str"
print("Cristiano"+"Ronaldo")

202
CristianoRonaldo

In [ ]:
print(20+2)
print(20+2.5)
print("Cristiano"+"Ronaldo")

22
22.5
CristianoRonaldo

In [ ]:
print(20-2)
print(20-2.5)
print("Cristiano"-"Ronaldo")

18
17.5

TypeError: ignored

In [ ]:
print(20/2)
print(20/2.5)
print("Cristiano"/"Ronaldo")

10.0
8.0

TypeError: ignored

In [ ]:
print(20*2)
print(20*2.5)
print("Cristiano"*"Ronaldo")

40
50.0

TypeError: ignored

In [ ]:
print("Cristiano"*7)# a*7 = a+a+a+a+a+a+a
print("Cristiano"+"Cristiano")

CristianoCristianoCristianoCristianoCristianoCristianoCristiano
CristianoCristiano

In [ ]:
print("Cristiano"*7.5)

TypeError: ignored

In [ ]:
print("Cristiano"*7.0)

TypeError: ignored

In [ ]:
## str
# add them (+)>> concats
# str*int>> repeats int times

# numbers
# if you +,-,*: output will be float if atleast one of them was float
# if you /: output will always be float

In [2]:
# Sreenidhi
# To: Me
# 8:41 AM
# print(6+3,6-3, 6/3,6*3, \n)
# is not working
print(6+3,6-3, 6/3,6*3, "\n")
print(6+3,6-3, 6/3,6*3,sep= "\n")

9 3 2.0 18

9
3
2.0
18

In [ ]:
# ask the user for 2 +ive integer numbers
# give me the average of the 2 numbers entered

In [4]:
a = 4
b = 6
print(a+b/2) # not the average, BODMAS
print((a+b)/2)

7.0
5.0

In [ ]:
first = input("Enter first integer: ")
first = int(first)

In [7]:
first = int(input("Enter first integer: "))
second = int(input("Enter second integer: "))
print(first,second)
total = first+second
print(total) # int + int is int
avg = total/2
print(avg) # anything / is float
print(int(avg)) # float to int

Enter first integer: 4
Enter second integer: 6
4 6
10
5.0
5

In [1]:
print(type(sum)) # sum is a popular function
print(type(avg)) # nothing called avg

<class 'builtin_function_or_method'>

NameError: ignored

In [ ]:
# python runs line by line
# Bommali Hima
# To: Everyone
# 8:52 AM
average = ((a+b))/2
a = int(input("enter num1:"))
b = int(input("enter num2:"))
print(a)
print(b)
print("average")

In [2]:
# python runs line by line
# Bommali Hima
# To: Everyone
# 8:52 AM

a = int(input("enter num1:"))
b = int(input("enter num2:"))
print(a)
print(b)
average = ((a+b))/2
print("average") # this is not printing average variable
print(average)

enter num1:4
enter num2:6
4
6
average
5.0

In [4]:
print(10)

10

In [3]:
print("10")

10

In [5]:
Print("5+10")

NameError: ignored

In [6]:
print(type(true))

NameError: ignored

In [7]:
Print("10+10")

NameError: ignored

In [8]:
name='Sahil'
print(Name)

NameError: ignored

In [9]:
#start
x = 3 # x is 3
y = 'hello'  # x is 3, y is 'hello
num = y # x is 3, y is 'hello, num is 'hello'
y = 5 # x is 3, y is 5, num is 'hello'
print(num, y)

hello 5

In [10]:
print('2' + "2")

22