<a href="https://colab.research.google.com/gist/singhsidhukuldeep/34ab06c0b5d110df99ffd68bc136b229/beginner-functions-2-13th-oct-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Functions 2 - 13th Oct 2023

<img src="https://ucarecdn.com/5fb26dfe-c0a3-4c6e-b2b0-38be5103258c/" width="40%">

</center>

In [ ]:
# https://pythontutor.com/render.html#mode=edit

In [1]:
a=5
a

5

In [2]:
print("Running")
def random():
    return True
random()
print("DONE Running")

Running
DONE Running

In [3]:
print("Running")
def abc:
    return "I am a function!"
abc()
print("DONE Running")

SyntaxError: ignored

In [4]:
a = 10 # global
def calculator(number):# number is local
    print(number * 10)

calculator(a)
print(number)
print(a)

100

NameError: ignored

In [5]:
a = 10
def calculator(number):
    print(number * 10)

calculator(a)
print(a)

100
10

In [7]:
print("Running")
a = 57
def simple_function(a):
    if a <= 10:
        return "SMALL"
    elif a > 10:
        return "BIG"

simple_function(a)
print("DONE Running")

Running
DONE Running

In [8]:
def greet_the_family(mother, father, brother):
    """
        this is the main step
        you are meeting the family üò®
        you should know the names of teh family members üí°

            1 mother name
            2 father name
            3 brother name
    """
    print("Touch the üêæ Hello", mother)
    print("Touch the üëü Hello", father)
    print("üôå", brother)

In [9]:
greet_the_family('Shakira', 'Tom Cruise', 'Salman Bhai')

Touch the üêæ Hello Shakira
Touch the üëü Hello Tom Cruise
üôå Salman Bhai

In [10]:
# positional arguments
greet_the_family('Salman Bhai', 'Tom Cruise', 'Shakira')

Touch the üêæ Hello Salman Bhai
Touch the üëü Hello Tom Cruise
üôå Shakira

In [11]:
# keyword arguments
print("This", 'is', "print", sep="--", end="\n\n")
print("This", 'is 2nd', "print", sep="--")

This--is--print

This--is 2nd--print

In [12]:
greet_the_family(mother = 'Shakira', father ='Tom Cruise', brother='Salman Bhai')

Touch the üêæ Hello Shakira
Touch the üëü Hello Tom Cruise
üôå Salman Bhai

In [13]:
greet_the_family(brother='Salman Bhai', father ='Tom Cruise', mother = 'Shakira')

Touch the üêæ Hello Shakira
Touch the üëü Hello Tom Cruise
üôå Salman Bhai

In [14]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)

In [15]:
printer(1,2,3,4) # positional

a = 1
b = 2
c = 3
d = 4

In [16]:
printer(a=1,b=2,c=3,d=4) # keyword

a = 1
b = 2
c = 3
d = 4

In [17]:
printer(c=3,d=4, a=1,b=2) # keyword

a = 1
b = 2
c = 3
d = 4

In [18]:
printer(c=3,d=4, c=1,b=2) # keyword

SyntaxError: ignored

In [19]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer(1,2,d=4,c=3)

a = 1
b = 2
c = 3
d = 4

In [20]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer(1,2,d=4,a=3)

TypeError: ignored

In [21]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer(d=4,1,2,c=3)

SyntaxError: ignored

In [22]:
# Sachin Kaushalya
# To: Everyone
# 7:41 AM
# i cannot put 1,b=2,3,4 ?
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer( 1,b=2,3,4 )

SyntaxError: ignored

In [23]:
def simple_interest(p,r,t):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5,2))

19.0

In [24]:
def simple_interest(p,r,t):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))

TypeError: ignored

In [25]:
def simple_interest(p,r,t=5):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))
print(simple_interest(100,9.5,2))

47.5
19.0

In [26]:
def simple_interest(p,t=5,r):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))
print(simple_interest(100,9.5,2))

SyntaxError: ignored

In [27]:
def simple_interest(p=100,r=7.5,t=5):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))
print(simple_interest(100,9.5,2))

47.5
19.0

In [29]:
print(
'''
Question 1 -
Create a date printing function (print_date) -
Should take 4 arguments -> day, month, year and style

Styling Logic -
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.
'''

)

Question 1 -
Create a date printing function (print_date) -
Should take 4 arguments -> day, month, year and style

Styling Logic -
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.

In [32]:
def print_date(day, month, year , style=0):
    if style ==0:
        print(day, month, year, sep="/")
    elif style ==1:
        print( month,day, year, sep="/")
    else:
        print('Invalid Style')
print_date(13, 10, 2023 , style=0)
print_date(13, 10, 2023 )
print_date(13, 10, 2023, 10)

13/10/2023
13/10/2023
Invalid Style

In [33]:
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))

SyntaxError: ignored

In [34]:
a = 10 # global
def calculator(number):# number is local
    print(number * 10)

calculator(a)
print(number)
print(a)

100

NameError: ignored

In [35]:
a = 10 # global
def calculator(number):# number is local
    a=20# a is local

calculator(a)
print(a)

10

In [36]:

# Gopalakrishnan V
# To: Everyone
# 8:18 AM
# what if we return the value of a
a = 10 # global
def calculator(number):# number is local
    a=20# a is local
    return a
calculator(a)
print(a)

10

In [37]:

# Gopalakrishnan V
# To: Everyone
# 8:18 AM
# what if we return the value of a
a = 10 # global
def calculator(number):# number is local
    a=20# a is local
    return a
a = calculator(a)
print(a)

20

In [40]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)

calculator(a)
print('a outside after function call', a)

number 10
a outside after function call 10

In [41]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)
    print('a inside after function call', a)

calculator(a)
print('a outside after function call', a)

number 10
a inside after function call 10
a outside after function call 10

In [44]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)
    a = 25
    print('a inside after function call', a)



calculator(a)
print('a outside after function call', a)

number 10
a inside after function call 25
a outside after function call 10

In [45]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)
    newA = a+10
    print(newA)



calculator(a)
print('a outside after function call', a)

number 10
20
a outside after function call 10

In [46]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)
    a = 20
    print('a inside function', a)

calculator(a)
print('a outside after function call', a)

number 10
a inside function 20
a outside after function call 10

In [47]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)
    global a
    a = 20
    print('a inside function', a)

calculator(a)
print('a outside after function call', a)

number 10
a inside function 20
a outside after function call 20

In [49]:

# Sachin Kaushalya
# To: Everyone
a= 10
def calculation(number):
    number = global a
    print(a)
calculation(a)

SyntaxError: ignored

In [51]:

# Sachin Kaushalya
# To: Everyone
a= 10
def calculation(number):
    number =  a
    print(a,number)
calculation(a)

10 10

In [52]:
x = 10
def function():
    x = 5
    print(x)
function()
print(x)

5
10

In [53]:
x = 10
def function():
    global x
    x = 5
    print(x)
function()
print(x)

5
5

In [54]:
age = 25
if age>=18:
    print('vote')
else:
    print('you cannot vote')

vote

In [56]:
age = 25
    #  output if condition is True if <condition> else output if condition is False
print("vote" if age>=18 else 'you cannot vote')

vote

In [57]:
age = 25
    #  output if condition is True if <condition> else output if condition is False
print(     "vote"                   if age>=18     else      'you cannot vote')

vote

In [59]:
# check if num (a +ive int) is even or odd
num = 250
print('even' if num%2==0 else "odd")

even

In [60]:
num = 10
if num>0:
    print('+ive')
elif num<0:
    print('-ive')
else:
    print('zero')

+ive

In [61]:
num = 10
if num>0:
    print('+ive')
else:
    if num<0:
        print('-ive')
    else:
        print('zero')

# HW
#  *output if <condition> is True* if <condition> else *output if <condition> is False*
#  *output if <condition1> is True* if <condition1> else (*output if <condition> is True* if <condition> else *output if <condition> is False*)

+ive

In [63]:
# lambda functions
def squarer (num):
    return num**2
print(type(squarer))
print(squarer(5))

<class 'function'>
25

In [64]:
######### lambda input:output
squarer = lambda num:num**2
print(type(squarer))
print(squarer(5))

<class 'function'>
25

In [65]:
def adder (a,b):
    return a+b
print(type(adder))
print(adder(5,2))

<class 'function'>
7

In [66]:
######### lambda input:output
adder = lambda a,b:a+b
print(type(adder))
print(adder(5,2))

<class 'function'>
7

In [68]:
def pi ():
    return 3.14159265359
print(type(pi))
print(pi())

<class 'function'>
3.14159265359

In [71]:
######### lambda input:output
pi = lambda :3.14159265359
print(type(pi))
print(pi())
print(pi())
print(pi())
print(pi())
print(pi())

<class 'function'>
3.14159265359
3.14159265359
3.14159265359
3.14159265359
3.14159265359

In [72]:
######### lambda input:output
squarer = lambda num:num**2
print(type(squarer))
print(squarer(5))

<class 'function'>
25

In [73]:
# anonymous functions
(lambda num:num**2)(5)

25

In [74]:
def function(var):
    print(var)

function(3)

var = 5
function(var)

3
5

In [75]:
def function(var=5):
    var = var + 1
    print(var)

function()
function(10)

6
11