<a href="https://colab.research.google.com/gist/singhsidhukuldeep/694041666f79c7e6b84ebf4e41e6f3f0/beginner-strings-1-25th-oct-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

## Beginner : Strings 1 - 25th Oct 2023

![](https://codehs.com/uploads/f7b9b4e3fce7610f7c88a788e6d4aa29)

</center>

In [ ]:
## Data Types >> primitive DS
# str
# int
# float
# bool
# None

# Properties>> single value at a time>> they are NON-editable/immutable

In [1]:
## str

In [2]:
my_str = 'this is a str'
print(my_str)

this is a str

In [3]:
my_str = "this is a str"
print(my_str)

this is a str

In [6]:
my_str = """this
is a
str"""
print(my_str)

this
is a
str

In [5]:
my_str = '''this is a str'''
print(my_str)

this is a str

In [7]:
my_str = "this is
a str"
print(my_str)

SyntaxError: ignored

In [8]:
my_str = "this is \na str"
print(my_str)

this is
a str

In [9]:
my_str = "this is a str'
print(my_str)

SyntaxError: ignored

In [10]:
my_str = '''12345677890-0=)(*&^%$%#!@!jhgsfadkqas,kfudgaP}{>?":<>}🙂)'''
print(my_str)

12345677890-0=)(*&^%$%#!@!jhgsfadkqas,kfudgaP}{>?":<>}🙂)

In [ ]:
# American Standard Code for Information Interchange
# ASCII

In [11]:
ord('a')

97

In [12]:
ord('A')

65

In [13]:
ord('🙂')

128578

In [14]:
print(chr(65))

A

In [15]:
print(ord('a'), ord('z'))
print(ord('A'), ord('Z'))
print(ord('0'), ord('9'))

97 122
65 90
48 57

In [19]:
for ordinal in range(ord('0'), ord('9')+1):
    print(ordinal, chr(ordinal))

48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9

In [18]:
for ordinal in range(ord('A'), ord('Z')+1):
    print(ordinal, chr(ordinal))

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z

In [17]:
for ordinal in range(ord('a'), ord('z')+1):
    print(ordinal, chr(ordinal))

97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z

In [20]:
ord('a'), ord('A')

(97, 65)

In [21]:
"a">"A"

True

In [23]:
chr(10500)

'⤄'

In [24]:
# simple str manipulations

In [25]:
print(">> +")
print("Cristiano" + "Ronaldo")

>> +
CristianoRonaldo

In [26]:
my_str = "I live on earth, and we are 3 planet"
print(my_str)
print(type(my_str))

I live on earth, and we are 3 planet
<class 'str'>

In [28]:
# f str


##### How f str
# 1: replace all the data with the var names in {}
# 2: add f in front

planet = "earth"
rank = 3

my_str = f"I live on {planet}, and we are {rank} planet"
print(my_str)
print(type(my_str))

I live on earth, and we are 3 planet
<class 'str'>

In [30]:
planet = "mars"
rank = 4

my_str = f"I live on {planet}, and we are {rank} planet"
print(my_str)
print(type(my_str))

planet = "earth"
rank = 3
print(my_str)
print(type(my_str))

I live on mars, and we are 4 planet
<class 'str'>
I live on mars, and we are 4 planet
<class 'str'>

In [31]:
planet = "earth"
rank = 3

my_str = "I live on {}, and we are {} planet".format(planet, rank)
print(my_str)
print(type(my_str))

I live on earth, and we are 3 planet
<class 'str'>

In [ ]:
# Question-1
# Take a string input from user and print that string character by character,
# with each character in new line.

# Input:
# "INDIA"

# Output:
# I
# N
# D
# I
# A

In [33]:
my_str = input()
for c in my_str:
    print(c)

INDIA
I
N
D
I
A

In [ ]:
# Question-2
# Take a string input from user.
# Print the following.
# Print format:

# "First Character - <first_character>, Last Character - <last_character>"

# Input:
# "INDIA"

# Output:
# "First Character - I, Last Character - A"

In [34]:
my_str = input()
print(f"First Character - {my_str[0]}, Last Character - {my_str[-1]}")

INDIA
First Character - I, Last Character - A

In [36]:
my_str = "INDIA"
print(my_str)
print(my_str[1])
my_str[1] ='n' # >> they are NON-editable/immutable

INDIA
N

TypeError: ignored

In [ ]:
# Question-3
# Take a string input from user.
# Reverse that string.

In [37]:
my_str = input()
print(my_str[::-1])

my string
gnirts ym

In [ ]:
# Question-4
# Take a string input from user.
# Return "PALINDROME" if the string is a palindrome, otherwise return "NOT A PALINDROME".

In [43]:
my_str = input().lower()
if my_str==my_str[::-1]:
    print("PALINDROME")
else:
    print("NOT A PALINDROME")

Noon
PALINDROME

In [ ]:
# Noon == nooN❌

In [ ]:
# Question-5
# Take a string input from user.
# Print the number of upper case characters in that string.

In [50]:
my_str = "This is a RANDOM strinG 67890, ^$#@"

In [51]:
#1
count = 0
for character in my_str:
    if ord(character)>=65 and ord(character)<=90:
        count+=1
print(count)

8

In [52]:
#2
count = 0
for character in my_str:
    if character.isupper():
        count+=1
print(count)

8

In [53]:
# split and join


my_str = "1,2,3,4,5,6"
print(my_str.split(','))

['1', '2', '3', '4', '5', '6']

In [57]:
my_list_of_strs = ['1', '2', '3', '4', '5', '6']
print(' '.join(my_list_of_strs))
print('__'.join(my_list_of_strs))
join_using = ":"
print(join_using.join(my_list_of_strs))

1 2 3 4 5 6
1__2__3__4__5__6
1:2:3:4:5:6

In [ ]:
# Question-6
# You are given a list of numbers between 1 and 256.
# Generate a string from the char values of these numbers.

# Input:
# [65, 97, 68]

# Output:
# Aad

# Explanation
# chr(65) - A
# chr(97) - a
# chr(68) - d

In [58]:
#1
def generate_str(lst):
    s = ""
    for i in lst:
        s+=chr(i)
    return s
generate_str(lst=[65, 97, 68])

'AaD'

In [59]:
#2
def generate_str(lst):
    s = []
    for i in lst:
        s.append(chr(i))
    return "".join(s)
generate_str(lst=[65, 97, 68])

'AaD'

In [ ]:
# Question-7
# Get input from the user of a string of comma separated int.
# Convert it into a list  of individual int.

# "56,78,99,101"
# [56, 78, 99, 101]

In [61]:
user_input = input()
print("user_input:", user_input)
user_input_split = user_input.split(',')
print("user_input_split:", user_input_split)
result = []
for i in user_input_split:
    result.append(int(i))
result

56,78,99,101
user_input: 56,78,99,101
user_input_split: ['56', '78', '99', '101']

[56, 78, 99, 101]

![](https://www.researchgate.net/profile/Benjamin-Burroughs/publication/282513413/figure/fig3/AS:286648472092674@1445353729169/A-humorous-meme-blending-the-doubt-your-doubts-line-with-the-popular-most.png)

In [62]:

# Chandnika R
# To: Everyone
# 8:42 AM
new_str = "hello"
new_str = new_str.join("hi")
new_str

'hhelloi'

In [ ]:
h--i

In [63]:
"hi".join("hello")

'hhiehilhilhio'

In [ ]:
h--e--l--l--o