<a href="https://colab.research.google.com/gist/singhsidhukuldeep/489b3b7891f4941e6a79024a2b8a3fd3/beginner-problem-solving-3-23october2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Problem Solving 3 - 23October2023

![](https://miro.medium.com/v2/resize:fit:960/0*1gBIEA9gWWSrlfB3.gif)

Complete the code snippet given below to remove all the elements in the list that are even and print the new list in which there are no even elements.

**Input**: `elements=[24,32,13,15,19,44,52,7,9,2,51]`
```python
def not_even(lst):
  res = []
  for ele in lst:
    ________________
  return res

not_even(elements)
```
**Required output**:`[13, 15, 19, 7, 9, 51]`



You will get full points if and only if you give CORRECT ANSWER in first attempt. All later attempts will get you ZERO score.

-   if (ele% 2 != 0): res.pop(ele)

-   if (ele % 2 != 0): res.append(ele)

-   if (ele% 2 == 1): lst.pop(ele)

-   if (ele% 2 == 1): lst.remove(ele)

In [1]:
def not_even(lst):
    res = []
    for ele in lst:
        if (ele % 2 != 0):
            res.append(ele)
    return res
elements=[24,32,13,15,19,44,52,7,9,2,51]
not_even(elements)

[13, 15, 19, 7, 9, 51]

## Ceil and Floor

**Problem Description**

You are given a sorted array of **A** and an integer **B**.Return an array of size 2, where the first element is the ceil of **B** and the second element is the floor of **B.

****Ceil** is the largest number greater than or equal to **B** and is present in the array **A**.\
---
**Floor **is the largest number smaller than or equal to **B** and is present in the array **A**.

**Problem Constraints**

1 <= |A| <= 105\
-109 <= A[i] <= 109\
-109 <= B <= 109

**Input Format**

The input contains two lines.\
The first line contains space separated integers. The first value in this line is the number of elements N in the array after which N integers denoting elements of the array follow.\
The second line contains a single integer.

**Output Format**

An integer array **C** of size 2.

**Example Input**
```
Input 1:

-2 4 4 8 9
0

Input 2:

1 3 9 21
9
```
**Example Output**
```
Output 1:

4 -2

Output 2:

9 9
```

In [ ]:
# floor: largest int, smaller or equal to the value
# ceil:  smallest int, larger or equal to the value

In [ ]:
# floor>> largest int less or equal to the value>> start from the right side...keep on checking the condition
# curr<=B>> floor

# ceil>> smallest number greater OR equal to the value>> start from the left side...keep on checking the condition
# curr>=B>> ceil

In [3]:
def ceilAndFloor(A,B):
    # floor
    for i in A[::-1]:
        if i<=B:
            floor=i
            break
    #ceil
    for i in A:
        if i>=B:
            ceil = i
            break
    return [ceil, floor]
print(ceilAndFloor(A=[-2, 4, 4, 8, 9],B=0))
print(ceilAndFloor(A=[1, 3, 9, 21],B=9))

[4, -2]
[9, 9]

In [7]:
# taking input of list from the user
# ask the usrt for space seperated int
user_input = input()
print("user_input", user_input)

# break the user input, split on space
user_input_split = user_input.split()
print("user_input_split", user_input_split)

for i in range(len(user_input_split)):
    user_input_split[i] = int(user_input_split[i])
print(user_input_split)

1 -22 100
user_input 1 -22 100
user_input_split ['1', '-22', '100']
[1, -22, 100]

## all the primes
given an integer, find all the prime numbers equal or less than the integer

`8`:`[2,3,5,7]`

In [8]:
def isPrime(a):
    for i in range(2, a):
        if a%i==0:
            return False
    return True

def get_all_primes(n):
    all_primes = []
    for i in range(2,n+1):
        if isPrime(i):
            all_primes.append(i)
    return all_primes

In [9]:
get_all_primes(10)

[2, 3, 5, 7]

In [10]:
get_all_primes(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

![](https://upload.wikimedia.org/wikipedia/commons/9/94/Animation_Sieve_of_Eratosth.gif)

In [ ]:
n = 8 >> [] of isPrime
# 0      1      2       3     4      5       6     7      8
[True,  True,  True,  True,  True,  True,  True,  True,  True]
[False, False, True,  True,  True,  True,  True,  True,  True]# 0 and 1 are not Prime
[False, False, TRUE,  True,  False, True,  False, True,  False]# at 2
[False, False, True,  TRUE,  False, True,  False, True,  False]# at 3

In [12]:
def Sieve_of_Eratosthenes(n):

    #  O(n log log n),
    isPrime = []
    for i in range(n+1):
        isPrime.append(True)
    isPrime[0] = False
    isPrime[1] = False
    pointer = 0
    while pointer<len(isPrime):
        if isPrime[pointer]==False:
            pointer+=1
        else:
            for multiples in range(pointer*2, n+1, pointer):
                isPrime[multiples]=False
            pointer+=1
    for i in range(len(isPrime)):
        if isPrime[i]:
            print(i)
Sieve_of_Eratosthenes(n=20)

2
3
5
7
11
13
17
19

In [ ]:
# O(n)> n=10, n=100
# O(n^2)> n=10, n=100 >> input increased by 10, time increased by 100

In [13]:
# Operations in python list

In [16]:
coins = [1,2,5,2,5,10,5,20,5,75]

#1: find the count of 5 in coins list
def counterOfEle(lst, val):
    count = 0
    for i in lst:
        if i==val:
            count+=1
    return count
print(counterOfEle(lst=[1,2,5,2,5,10,5,20,5,75], val=5), coins.count(5))

4 4

In [21]:
coins = [1,2,5,2,5,10,5,20,5,75]

#2: remove all the 5 coins from the coins list without creating a new list
for i in range(coins.count(5)):
    coins.remove(5)
coins

[1, 2, 2, 10, 20, 75]

In [20]:
a = [1,2,3]
print(a)
a.remove(1)
print(a)
a.remove(1)
print(a)

[1, 2, 3]
[2, 3]

ValueError: ignored

Which of the following options(s) are correct about lists
```python
a = [1,2,3,4]
b = a
b.append(5)
```
```
A. 5 is also get append to list a
B. a and b point to different memory location but have same values
C. python garbage collector automatically deleted the list a as it get assigned to b
D. a and b point to same memory location.
```

In [22]:
a = [1,2,3,4]
b = a
b.append(5)
print(a,b)
# A. 5 is also get append to list a
# D. a and b point to same memory location.

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [23]:
a = [1,2,3,4]
b = a
b.append(5)
print(a,b)
a[0]*=-100
b[1]*=-100
print(a,b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[-100, -200, 3, 4, 5] [-100, -200, 3, 4, 5]

In [24]:
a = [1,2,3,4]
b = a[:]
b.append(5)
print(a,b)
a[0]*=-100
b[1]*=-100
print(a,b)

[1, 2, 3, 4] [1, 2, 3, 4, 5]
[-100, 2, 3, 4] [1, -200, 3, 4, 5]

In [25]:
###          0        1       2
players =['Jadeja','Rahul','Rohit']
players[1] = "Kohli"
print(players)

['Jadeja', 'Kohli', 'Rohit']

In [26]:
###          0        1       2
players =['Jadeja','Rahul','Rohit']
players[1] = ["Kohli", "Dhoni"]
print(players)

['Jadeja', ['Kohli', 'Dhoni'], 'Rohit']

In [28]:
###          0        1       2
players =['Jadeja','Rahul','Rohit']
print("the slice", players[1:2])
players[1:2] = ["Kohli", "Dhoni"]
print(players)

the slice ['Rahul']
['Jadeja', 'Kohli', 'Dhoni', 'Rohit']

## Is Perfect Square ?

**Problem Description**

You are given a function that takes an integer argument **A**. Return **1** if **A** is a perfect square otherwise return **0**.\
**Problem Constraints**

1 <= A <= 108

**Input Format**

First argument is an integer **A**.

**Output Format**

Return an integer (**0** or **1**) based upon the question.

**Example Input**

Input 1:

A = 4

Input 2:

A = 1001

**Example Output**

Output 1:

1

Output 2:

0

**Example Explanation**

Explanation 1:

sqrt(4) = 2

Explanation 2:

1001 is not a perfect square.

In [29]:
# square of 3
print(3**2)

9

In [30]:
# square of 3
print(3**0.5)

1.7320508075688772

In [31]:
def perfect_square(num):
    sqrt = num**0.5
    if sqrt==int(sqrt):
        return True
    else:
        return False

for i in range(10):
    print(i, perfect_square(i))

0 True
1 True
2 False
3 False
4 True
5 False
6 False
7 False
8 False
9 True