<a href="https://colab.research.google.com/gist/singhsidhukuldeep/5ff7b7d09f6f43c43b37a9bd2f7755a1/beginner-iteration-for-loops-4october2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Iteration - For Loops - 4October2023

![w1.gif]()

</center>

In [1]:
# while
meter = 1 # starting condition
while meter<=5: # while <condition>
    print(meter) # do something
    meter = meter + 1 # increment

1
2
3
4
5

In [2]:
for num in range(5):
    print(num)

0
1
2
3
4

In [3]:
for num in range(2,5):
    print(num)

2
3
4

In [4]:
for num in range(3,15,2):
    print(num)

3
5
7
9
11
13

In [5]:
for num in range(9,3):
    print(num)

In [6]:
for num in range(9,3,-1):
    print(num)

9
8
7
6
5
4

In [7]:
for num in range(9.5,3,-1): # start has to be an int
    print(num)

TypeError: ignored

In [8]:
for num in range(9,3.5,-1): # end has to be an int
    print(num)

TypeError: ignored

In [9]:
for num in range(9,3,-1.5): # step has to be an int
    print(num)

TypeError: ignored

In [10]:
for num in range(9,3,0): # step has to be a non 0 int
    print(num)

ValueError: ignored

In [11]:
for i in range(-100,-90):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91

In [ ]:
'''
Question 1 -
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.
'''
'''
Input is 4
Output will be 1 2 3 4
'''

In [13]:
N = int(input())
for i in range(N): # >> 0,1,2,3,,,,N-1
    print(i+1, end=" ") # >> 1,2,3,4,,,,N

4
1 2 3 4

In [15]:
N = int(input())
for i in range(1,N+1): # >> 1,2,3,4,,,,N
    print(i, end=" ")

4
1 2 3 4

In [16]:
# len
print(len(range(5)))

5

In [17]:
print(len(range(2,5)))

3

In [18]:
print(len(range(5,2)))

0

In [19]:
print(len(range(5,2, -1)))

3

In [ ]:
'''
Question 2 -
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
ONLY USE for LOOP AND range
'''
'''
Input : 3
Output : 6
'''

In [21]:
# 1 get the input
N = int(input())
# 2 start the total from 0
total =0
# 3 loop over the range
for i in range(1,N+1): # >> 1,2,3,4,,,,N
    # print(i, end=" ")
    # 4 update the total as you loop over the range
    total = total + i
# 5 print the total
print(total)

3
6

In [ ]:
'''
Question 3 -
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''
'''
1 > 1
2 > 2
3 > 6
4 > 24
'''

In [22]:
# 1 get the input
N = int(input())
# 2 start the product from 1
product =1
# 3 loop over the range
for i in range(1,N+1): # >> 1,2,3,4,,,,N
    # print(i, end=" ")
    # 4 update the product as you loop over the range
    product = product * i
# 5 print the product
print(product)

4
24

In [23]:
print(range(5))

range(0, 5)

In [24]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [25]:
print(list(range(2,5)))

[2, 3, 4]

In [26]:
print(list(range(2,5,2)))

[2, 4]

In [30]:
print(list(range(7, 8)))
print(list(range(8, 8)))
print(len(range(1, 11, 2)))
print(len(range(11)))

[7]
[]
5
11

In [ ]:
'''
Question 4 -
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

In [32]:
N = int(input())
product = 1
for i in range(2, N+1,2):
    product*=i
print(product)

5
8

In [33]:
N = 7
print(list(range(2, N+1,2)))
N = 8
print(list(range(2, N+1,2)))

[2, 4, 6]
[2, 4, 6, 8]

In [31]:
N = int(input())
product = 1
for i in range(1, N+1):
    if i%2==0:
        product*=i
print(product)

5
8

In [ ]:
'''
Question 5 -
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.
'''

In [38]:
start = int(input())
end = int(input())
if start%2==0:
    start=start
else:
    start=start+1
product = 1
for i in range(start, end+1,2):
    product*=i
print(product)

5
10
480

In [36]:
start = int(input())
end = int(input())
product = 1
for i in range(start, end+1):
    if i%2==0:
        product*=i
print(product)

5
10
480

In [ ]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

In [39]:
N = int(input())
for i in range(N , 1-1, -1):
    print(i, end=" ")

5
5 4 3 2 1

# Home work
```
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
>>   With for loop using range function but Without using a negative step/jump!
N > 1 -> Given

```

In [ ]:
n = int(input())

for i in range(-n, 0):
    print(-i, end=" ")

In [ ]:
n = int(input())

for i in range(n):
    print(n-i, end=" ")

# Not home work

In [40]:
name = "Cristiano Ronaldo"
print(name)

Cristiano Ronaldo

In [41]:
print(len(name))

17

In [42]:
for i in name:
    print(i)

C
r
i
s
t
i
a
n
o

R
o
n
a
l
d
o