<a href="https://colab.research.google.com/gist/singhsidhukuldeep/8ad08a407c8c4acc1ef7c6e31d253a66/beginner-nested-loops-and-patterns-6th-october-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Nested Loops and Patterns - 6th October 2023

In [2]:
print("""
‚ùì**Question**: Write a loop to print the following numbers - 1,4,7,10,13,16

""")
print("1,4,7,10,13,16")

‚ùì**Question**: Write a loop to print the following numbers - 1,4,7,10,13,16


1,4,7,10,13,16

In [5]:
for num in range(1,17,3):
    if num==16:
        print(num, end="")
    else:
        print(num, end=",")

1,4,7,10,13,16

In [6]:
print("""
‚ùì**Question**: Write a loop to print the following numbers - 1,3,7,13,21,31,43

""")
print("1,3,7,13,21,31,43")

‚ùì**Question**: Write a loop to print the following numbers - 1,3,7,13,21,31,43


1,3,7,13,21,31,43

In [8]:
# starting conditions
number = 1
gap = 2 # to track table of 2
while number<=43:
    if number==43:
        print(number, end="")
    else:
        print(number, end=",")
    # print(number)
    number+=gap
    gap+=2

1,3,7,13,21,31,43

In [10]:
# starting conditions
number = 1
gap = 1 # to track table of 2
while number<=43:
    if number==43:
        print(number, end="")
    else:
        print(number, end=",")
    # print(number)
    number+=(gap*2)
    gap+=1

1,3,7,13,21,31,43

In [11]:
x= 5
print(x%2, x%2==0)
print(bool(x%2), x%2==0)

1 False
True False

In [13]:
x= 50
if x%2:
    print('odd')
else:
    print('even')

if x%2==0:
    print('even')
else:
    print('odd')

even
even

In [17]:
print(list(range(7)))

[0, 1, 2, 3, 4, 5, 6]

In [14]:
## ü¶ò Jump Statements

In [16]:
# break >> the loop stops completely, the current iteration is stopped in between and no further iterations are done

for i in range(7):
    if i==3:
        break
    print(i)

0
1
2

In [18]:
# continue >> the loop iteration is skipped, the current iteration is stopped in between and the further iterations are done

for i in range(7):
    if i==3:
        continue
    print(i)

0
1
2
4
5
6

In [ ]:
# pass >> absolutely nothing/ we use it as a placeholder

In [19]:
if 2>5:

SyntaxError: ignored

In [20]:
if 2>5:
    # TODO: write clause of operation
    pass

In [21]:
for i in range(5):

SyntaxError: ignored

In [22]:
for i in range(5):
    pass

In [23]:
pass

In [24]:
break

SyntaxError: ignored

In [25]:
continue

SyntaxError: ignored

In [28]:
print("""
‚ùì **Question:**
Write a program that continuously asks the user to provide an input number.
The program should stop only when the user provides 5.
Once the user provides 5. The program should print the number of times an input was provided.
Assume that user always provides a number!

""")

‚ùì **Question:**
Write a program that continuously asks the user to provide an input number.
The program should stop only when the user provides 5.
Once the user provides 5. The program should print the number of times an input was provided.
Assume that user always provides a number!

In [31]:
counter = 0
while True:
    counter+=1
    number = int(input())
    if number==5:
        break
print("asked input for",counter,"times")

4
6
5
asked input for 3 times

In [32]:
# NESTED LOOPS

In [34]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [35]:
for i in range(3):
    for j in range(3):
        for k in range(2):
            print(i, j, k)

0 0 0
0 0 1
0 1 0
0 1 1
0 2 0
0 2 1
1 0 0
1 0 1
1 1 0
1 1 1
1 2 0
1 2 1
2 0 0
2 0 1
2 1 0
2 1 1
2 2 0
2 2 1

In [38]:
print("""
‚ùì **Question**:
Ask the user for N as an input.
Write a program to print a `N x N` matrix of `*`

""")
print("""

Example Input:
3

Example Output:
* * *
* * *
* * *


""")

‚ùì **Question**:
Ask the user for N as an input.
Write a program to print a `N x N` matrix of `*`




Example Input:
3

Example Output:
* * *
* * *
* * *

In [44]:
# row for the matrix>> * * * N times
N = 3
for j in range(N):
    print('*', end=" ")

* * *

In [49]:
N = int(input())

for i in range(N):
    # print the row
    for j in range(N):
        print('*', end=" ")
    print() # this is just to create a new line after printing the row

10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [51]:
print("""
‚ùì **Question**:
Ask the user for N as an input.
Write a program to print a multiplication table till the input N

""")
print("""

Example Input:
3

Example Output:
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

""")

‚ùì **Question**:
Ask the user for N as an input.
Write a program to print a multiplication table till the input N




Example Input:
3

Example Output:
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [55]:
table_of=3
for j in range(1,11): #>> 1,2,3,....9,10
    print(table_of*j, end=" ")

3 6 9 12 15 18 21 24 27 30

In [60]:
N = int(input())

for table_of in range(1, N+1):
    # print('Table of ', table_of)
    for j in range(1,11): #>> 1,2,3,....9,10
        print(table_of*j, end=" ")
    print() # this is just to create a new line after printing the row

3
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [61]:
# GCD/HCF

In [65]:
a = 16
b = 24
# 8

a = int(input())
b = int(input())


max_possible_GCD = min(a,b)
min_possible_GCD = 1

for GCD in range(max_possible_GCD, min_possible_GCD-1, -1):
    if a%GCD==0 and b%GCD==0:
        print(GCD)
        break

24
30
6

In [ ]:
# LCM

In [67]:
a = 3
b = 8
# 24

a = int(input())
b = int(input())

max_possible_LCM = a*b
min_possible_LCM = max(a,b)

for LCM in range(min_possible_LCM, max_possible_LCM+1):
    if LCM%a==0 and LCM%b==0:
        print(LCM)
        break

3
12
12

Which statement is used to skip the current iteration of a loop and move on to the next iteration?

A. `break`

B. `continue`

C. `pass`

D. None of the above

In [68]:
# Answer: B. continue

What will be the output of the following code snippet?
```
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)
```
A.
```
1
2
3
4
5
```
B.
```
1
2
4
5
```
C.
```
1
2
3
4
```
D.
```
0
1
2
3
4
5
```

In [69]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5

In [70]:
# Answer: B

In [71]:
# for else
# while else

In [74]:
for i in range(5):
    print(i, end=" ")
else: # this will run if the above loop never break
    print("\nPhew.. I never broke")

0 1 2 3 4
Phew.. I never broke

In [75]:
for i in range(5):
    if i==3:
        break
    print(i, end=" ")
else: # this will run if the above loop never break
    print("\nPhew.. I never broke")

0 1 2

In [77]:
meter = 1
while meter<=5:
    print(meter, end=" ")
    meter+=1
else: # this will run if the above loop never break
    print("\nPhew.. I never broke")

1 2 3 4 5
Phew.. I never broke

In [78]:
meter = 1
while meter<=5:
    if meter==3:
        break
    print(meter, end=" ")
    meter+=1
else: # this will run if the above loop never break
    print("\nPhew.. I never broke")

1 2

In [ ]:
# Guess the number
# generate a random between 1-10 and store it
# then ask the user to enter a number
# if the user choice is greater than computer choice say 'too high'
# if the user choice is smaller than computer choice say 'too low'
# if the user choice is equal to computer choice say 'correct guess'
# BONUS points: allow user a max of 3 guesses
# will need: use google to learn how to generate a random number between 1-10

In [81]:
import random
computer_choice=random.randint(1,10)
for i in range(3):
    user_choice = int(input('Guess the number: '))
    if user_choice==computer_choice:
        print('correct guess')
        break
    elif user_choice>computer_choice:
        print('too high')
    else:
        print('too low')
else: # this runs only when loop completes all cycles
    print('Failed 3 times')
print('GAME OVER')

Guess the number: 5
too high
Guess the number: 2
too high
Guess the number: 1
correct guess
GAME OVER

In [ ]:
import random
computer_choice=random.randint(1,10)
attempts = 0
while attempts<3:
    user_choice = int(input('Guess the number: '))
    if user_choice==computer_choice:
        print('correct guess')
        break
    elif user_choice>computer_choice:
        print('too high')
    else:
        print('too low')
    attempts+=1
if attempts>=3:
    print('Failed 3 times')
print('GAME OVER')