<a href="https://colab.research.google.com/gist/singhsidhukuldeep/5faa39386c482f3f079b71607cfd9756/beginner-introduction-to-python-18th-september-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('hi')
print("hi")

hi
hi

In [3]:
print("I love python")
print("shortcut to run python code cell is shift + enter")

I love python
shortcut to run python code cell is shift + enter

In [4]:
print('this is something I wrote')
print("someone tole me I can use double quotes as well")

this is something I wrote
someone tole me I can use double quotes as well

In [5]:
print("will this run?")
print('what about this?')
print("whqat about this ONE?')

SyntaxError: ignored

In [6]:
print("sometimes we can get errors and that is fine")
# but some times we want to ignore errors
#and for that we have python comments
print('how do you create comments?')
print("any line that starts with hash(#) is a python comment")
print('python comments are completely ignoresd by python')

sometimes we can get errors and that is fine
how do you create comments?
any line that starts with hash(#) is a python comment
python comments are completely ignoresd by python

In [7]:
print('in general we use python comments to document code')

in general we use python comments to document code

In [8]:
print('this will show output on a single line')
print("still on a single line")
print('I am getting tired, how do I write on multipltle lines')

this will show output on a single line
still on a single line
I am getting tired, how do I write on multipltle lines

In [9]:
print("this
should
      go
      on
      multiple lines")

SyntaxError: ignored

In [10]:
print('''to
print
output on
multiple lines
we use tripple quotes''')

to
print
output on
multiple lines
we use tripple quotes

In [11]:
print("""to
print
output on
multiple lines
we use tripple quotes""")

to
print
output on
multiple lines
we use tripple quotes

In [12]:
print("we used print to show output on screen")
print("anything that we want shown shold be in single quotes, double quotes OR tripple single quotes OR tripple double quotes")
print('single quote')
print("double quote")
print('''tripple single
quote''')
print(""" tripple double
quote""")
print("""tripple quotes allow you to have output that can go on as many lines as possible""")
print("Python comments start with # and are ignored by python")
# like this

we used print to show output on screen
anything that we want shown shold be in single quotes, double quotes OR tripple single quotes OR tripple double quotes
single quote
double quote
tripple single
quote
 tripple double
quote
tripple quotes allow you to have output that can go on as many lines as possible
Python comments start with # and are ignored by python

In [14]:
# data types
# 5 in python

In [17]:
# str
print('hi')
print("hi")
print('''tripple single
quote''')
print(""" tripple double
quote""")
print("""12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}""")
print("65")
print("65-60")

hi
hi
tripple single
quote
 tripple double
quote
12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}
65
65-60

In [20]:
# int
print(65)
print(65-60)
print(0)
print(-100)

65
5
0
-100

In [21]:
# float
print(100.5)
print(0.0)
print(-10.01)
print(100.5*2.5)

100.5
0.0
-10.01
251.25

In [22]:
# bool
print(True)
print(False)

True
False

In [23]:
print(false) # python is case sensitive

NameError: ignored

In [24]:
# None
print(None)

None

In [25]:
# str
print('hi')
print("hi")
print('''tripple single
quote''')
print(""" tripple double
quote""")
print("""12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}""")
print("65")
print("65-60")
# int
print(65)
print(65-60)
print(0)
print(-100)
# float
print(100.5)
print(0.0)
print(-10.01)
print(100.5*2.5)
# bool
print(True)
print(False)
# None
print(None)

hi
hi
tripple single
quote
 tripple double
quote
12345678990-=[]'l;/.,?><:"}|{+_)(*&^%$!@#)}
65
65-60
65
5
0
-100
100.5
0.0
-10.01
251.25
True
False
None

In [27]:
print("I 💘 python🐍")
print("😀👍")

I 💘 python🐍
😀👍

In [ ]:
# expressions

In [30]:
name = "Cristiano Ronaldo"
print(name)
print(type("Cristiano Ronaldo"))
print(type(name))

Cristiano Ronaldo
<class 'str'>
<class 'str'>

In [35]:
name = "Cristiano Ronaldo"
print(name, type(name))
age = 38
print(age, type(age))
height = 185.5
print(height, type(height))
isHeBetterThanMessi = True
print(isHeBetterThanMessi, type(isHeBetterThanMessi))
FIFA_trophies = None
print(FIFA_trophies, type(FIFA_trophies))

Cristiano Ronaldo <class 'str'>
38 <class 'int'>
185.5 <class 'float'>
True <class 'bool'>
None <class 'NoneType'>

In [36]:
# variable name cannot start with a number
2ab = "Ronaldo"

SyntaxError: ignored

In [37]:
# variable name cannot have a space
this is my Name = "Ronaldo"

SyntaxError: ignored

In [39]:
# variable name cannot be a keyword
lambda = 10

SyntaxError: ignored

In [38]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
# print()
# type()
# help()
# anything that ends with () is a python function

In [40]:
print("this is using print as a python function")

this is using print as a python function

In [41]:
# using popular python functions as variable names is not recommended
print = 2
print("can I still show output")
# 😢
# runtime >  disconnect and delete runtime

TypeError: ignored

In [1]:
print("all varaiables are reset")

all varaiables are reset

In [3]:
name = 'Ronaldo'

In [4]:
print(name)

Ronaldo

In [5]:
# input function
# this is used to get input
input()
print('Hey I got some input')

I can write anything
Hey I got some input

In [6]:
# i can store the user input in a var
userGaveMe=input()
print("THis is what the user gave", userGaveMe)

Hellooooo
THis is what the user gave Hellooooo

In [7]:
print('starting tot get the input')
userGaveMe=input()
print('Input gotten')

starting tot get the input
123
Input gotten

In [9]:
age = input("Hey user, please enter your age: ")

Hey user, please enter your age: 26

In [11]:
print(age)

26

In [12]:
print(age+1)

TypeError: ignored

In [13]:
print(type(age))

<class 'str'>

In [14]:
print('26')
print(26)

26
26

In [ ]:
# input stores everything as a str

In [16]:
print(age, type(age))
age_as_int = int(age)
print(age_as_int, type(age_as_int))

26 <class 'str'>
26 <class 'int'>

In [17]:
print(age_as_int+1)

27

In [19]:
height = input("what is your height:")

what is your height:182.5

In [20]:
print(height, type(height))

182.5 <class 'str'>

In [21]:
height = float(height)
print(height, type(height))

182.5 <class 'float'>

In [22]:
height = float(input("what is your height:"))
print(height, type(height))

what is your height:25
25.0 <class 'float'>